@{
    ViewData["Title"] = "Dat Grumpy Game Master";
}

<div class="row">
    <div class="col-md-7">
        <h2>Welcome to Grumpy Game Master</h2>
     
    </div>
    <div class="col-md-5">
       <img src="https://www.allmystery.de/i/t7a7fe3_tumblr_mifun3IjvY1qg4f82o1_500.png" />
    </div>
    
   
</div>
